@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
body{font-size:14px;font-family:arial;-webkit-text-size-adjust:none; background:#f3f3f3; color:#333;/* max-width:640px;*/}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul,ol,li{list-style:none;}
em{font-style:normal}
img{border:none;}
input,img{vertical-align:middle;}
q:before, q:after { content:'' }
a{color:#333;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0); cursor:pointer;}
a:active{color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0);}
section,aside,header,footer,hgroup,article{display:block}
/*网页样式重置reset*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
/*body { font-size:0.75em}*/
label { cursor:pointer}
a:link, a:visited { text-decoration:none}
input,button,select,textarea{outline:none} textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var { margin:0; padding:0}

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block}
 /*html5设置*/

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table /*{	width:100%;*/ border-spacing:0; border:0}
table th, table td { border:0}
/*legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}*/

/*------------------------------------------------------------------------------------------------------------------------------*/
/*统一share样式*/
html { width: 100%; height: 100%; font-family:Arial, Helvetica, sans-serif,"微软雅黑","黑体";}
body { margin:0 auto; color:#333; width:100%;font-family:Arial, Helvetica, sans-serif,"微软雅黑","黑体";background-size: auto; position:relative;  }
.clear{ clear:both;}
/*------------------------------------------------------------------------------------------------------------------------*/
/*.icon{ background:url(/static/images/icon.png); background-repeat:no-repeat; background-size:110px 110px; }

.layer_box{ width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.5); z-index:1008; }*/
/* 头部标题栏 */
header{ height:43px; position:relative; z-index:10; line-height:normal; text-align:center; background:#fff;/* border-bottom:1px solid #e7e7e7;*/}
header h1{ font:22px/43px Arial, '微软雅黑';}
.sy{ width:14px; padding:5px; position:absolute; top:4px; left:10px;}
.sy img{ width:100%;}
.sy:active{ background:#f2f2f2;}


.nav_type,.nav_type2 {
	height: 38px;
	line-height:38px;
    width: 100%;
	border-bottom:1px solid #e6e6e6;
	
}
.nav_type ul,.nav_type2 ul {
    display:box;display:-moz-box;display:-webkit-box;
    margin-top: 0;
    width: 100%;
	overflow:hidden;
}
.nav_type ul li,.nav_type2 ul li {
    box-flex:1;-moz-box-flex:1;-webkit-box-flex:1;    
    text-align: center;
  /*  width: 50px;*/
	
}
.nav_type ul li a ,.nav_type2 ul li a {
     border: medium none;
    display: inline;
    margin: 0;
    padding: 0 0 8px;
}
.nav_type ul li:last-child a{
	color:#9e9e9e;
	margin-left:-3px;
}
.red_packet .nav_type {
    background-color: #fff;
}

.nav_type ul li.on a {
    border-bottom: 2px solid #e73e3e; height:36px;
	 padding:0 10px 7px 10px;color: #e73030;font-size: 18px;
}

footer{width:100%;text-align:center; }
.down_load{ width:95%; margin:0 auto;padding:13px 0;overflow: hidden;}
.down_load li{ float:left;width:48%;}
.down_load li.line{ border-right: 1px solid #999;
  width: 1px;margin: 5px 0 0;}
.down_load img{ margin-right:5px;}
.nav_type {
	height: 38px;
	line-height:38px;
    width: 100%;
	border-bottom:1px solid #e1e1e1;
	background:#fff;
}
footer .nav_type{background:#f3f3f3;}
.nav_type ul {
    display:box;display:-moz-box;display:-webkit-box;
    margin-top: 0;
    width: 100%;
	overflow:hidden;
	border-bottom: 1px solid #e6e6e6;
}
.nav_type ul li {
    box-flex:1;-moz-box-flex:1;-webkit-box-flex:1;    
    text-align: center;
   /* width: 50px;
	*/
}
.nav_type ul li a {
     border: medium none;
    display: inline;
    margin: 0;
    padding: 0 0 8px;
}
footer .nav_type ul li:last-child a{margin-left:0; color:#333;}
footer p{color:#9C9C9C;font-size:12px;padding:10px 0; line-height:30px;}

/*3D*/
.sjh_txt{ float:left;}
.sjh_txt p{ color:#333; margin:0 10px 0 0; line-height:28px;}

.back_top{ position: fixed; z-index:99; right:15px;opacity: 0.7; cursor:pointer; bottom:15px;}
.line{width:1px; height:28px;border-right:solid 1px #e1e1e1;float: left;margin:0 10px;}
.next{ 
   float:right;
   -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display:block;
}
.red_ball,.blue_ball,.blue_ball_2 {
    background-color:#e73030;
    border-radius:14px;
    float: left;
    height: 28px;
	line-height:28px;
    margin-right: 5px;
    width: 28px;
	color:#fff;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.red{color:#e73030;}
.red_b{}
.purple{ color:#490489;}
.pink{ color:#e64f88;}
.orange{ color:#ff6000;}
.green{ color:#00a057;}

.blue_ball {background-color:#1290E3;}
.blue_ball_2{background-color:#82abd2;}
h1{ font-size:20px;}
h2{ font-size:18px; color:#333;}
h3{ font-size:16px;}
p{color: #9e9e9e;}
.kuang,.kuang_9{ width:100%; background:#fff; margin-top:8px;}
.kuang_9{ width:96%;  margin:0 auto; }
.btn_kuang{ margin:13px 0;}
.btn_cancel,.btn_ok,.btn_ok_2,.btn_sent{ display: inline-block; font-size:16px; width:78px; height:36px; line-height:36px; text-align:center; color:#333; border:solid 1px #e1e1e1; border-radius:5px;}
.btn_ok,.btn_ok_2,.btn_sent{-webkit-appearance:none;
 width:120px;color:#fff; background:#e73030;height:38px; line-height:38px; border:none;}
.btn_ok_2,.btn_sent{-webkit-appearance:none; display:block; width:96%; margin:0 auto;height: 45px;
  line-height: 45px;}
.btn_no{-webkit-appearance:none;
background:#f5f5f5; color:#c3c3c3;border:1px solid #d8d8d8;}

.btn_cancel:active{ background:#f2f2f2;/* box-shadow:2px 2px 2px #888888;*/}
.btn_ok:active,.btn_ok_2:active{ background:#f2f2f2;/* box-shadow:2px 2px 2px #888888;*/}

.more0{ width:100%; height:40px; font:18px/40px Arial, '微软雅黑'; text-align:center; color:#9e9e9e; border:1px solid #d8d8d8; border-radius:4px;}
.more0 img{ margin-left:5px; vertical-align: middle;}
/*.more0:active{ background:#f2f2f2;}
*/

.more_white{ width:60%;  margin: 0 auto;  background: #fff; height:40px; font:18px/40px Arial, '微软雅黑'; text-align:center; border:1px solid #d8d8d8; border-radius:4px;}
.more_white img{ margin-left:5px; vertical-align: middle;}
/*.more_white:active{ background:#f2f2f2;}
*//*小尖角收起展开的类*/
.a_up,.a_down{ display:inline-block; background: url(/static/images/jtt.png) no-repeat right; padding-right:20px;background-size:20px 11px;}
.a_down{background: url(/static/images/jtb.png) no-repeat right;}

/*弹pop*/
.pop_3s{   border-radius: 6px;
  background: #000;
  opacity: 0.75;
  position: absolute;
  z-index: 99;
  left: 25%;
  bottom: 20%;
   color:#fff;  padding: 8px;font-size:14px;}
.iDialog {
  position: absolute;
  font: 1rem/1rem "Microsoft Yahei",simsun;
  color: #2b2b2b;
  text-align: left;
  margin: 0 auto;
  z-index: 1000;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-transform: translateZ(0);
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  border-radius: .3rem;
  background-color: #f5f5f5;
  width: 22.91rem;
  visibility: visible; z-index: 1000;  margin-left: -160.5px; margin-top: -65.5px; top: 333.5px; left: 50%;
}
.iDialogMain {
  background: #fff;
  min-height: 30px;
  overflow: auto;
  word-wrap: break-word;
  word-break: break-all;
  padding: 1.83rem 1.05rem;
  line-height: 1.5;
    text-align: center;
  vertical-align: middle;
  min-height: 2.92px;
  font-size: 18px;
}
.iDialogFoot {
  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  text-align: center;
}
.iDialogFoot .iDialogBtn:first-child {
  border-left: 0;
}
.iDialogFoot .iDialogBtn,.iDialogBtn_no {
  display: table-cell;
  outline: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 1.2rem Arial,Helvetica,sans-serif;
  padding: 0;
  border-top: 1px solid #e6e6e6;
  height: 3.2rem;
  line-height: 3.2rem;
  vertical-align: middle;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  border-radius:9px;
  color:#e73030;
}
.iDialogFoot a {
  width: 50%;
  cursor: pointer;
}
.iDialogFoot a.iDialogBtn_no{
	color:#9e9e9e;
	border-right: 1px solid #e6e6e6;
}
.cleardiv {
  clear: both;
  height: 0px;
  overflow: hidden;
}
.hairlines*{border-width:0.5px !important}
/*没有数据记录*/
.nodata{font-size: 16px;text-align: center;}
/*更多*/
.zhcw_more{
	color: #9e9e9e;
  padding: 10px 0;
  display: block;
   width: 100%; 
  /* margin: 0 auto; */
  text-align: center;
}
@media only screen and (max-width:640px) {
	header h1 {
  font: 18px/25px Arial, '微软雅黑';
}
	h1{ font-size:20px;}
    h2{ font-size:16px; color:#333;}
    h3{ font-size:14px;}
	.more0{font:16px/40px Arial, '微软雅黑';}
    
	.nav_type ul li:last-child a{margin-left:-3px;}
	.nav_type ul li:last-child a img{ width:12px; height:7px;}	
	.back_top img{ width:46px; height:46px;}
	.down_load li:first-child img{ width:13px; height:20px;}
	.down_load li:last-child img{ width:20px; height:20px;}
	.down_load li.line{ height:16px;}
	.logo img{ width:68px; height:22px;}
	.next img{ width:12px; height:7px;}
	.more0 img {
 width: 7px;
  height: 12px;
}
	.more_white img{ width:7px; height:12px;}
	.a_up,.a_down{ background-size:12px 7px;}
	
  .iDialog {
  width: 17.91rem;
  margin-left: -144.5px;
  margin-top: -65.5px;
  top: 278.5px;
  left: 50%;
}
.nav_type ul li.on a {
  border-bottom: 2px solid #e73e3e;
  height: 36px;
  padding: 0 10px 7px 10px;	}

}

/* CSS Document 登录/注册 */

.dlbd2{ width:100%; background:#fff; border-radius:5px;}
.dlbd li{ height:60px; background:#fff;}
.dlbd li strong,.dlbd li input,.dlbd li img{ float:left;}
.dlbd li label{ float:right;}

.dlbd li label{ height:60px; font:15px/60px Arial, '微软雅黑'; box-sizing:border-box;}
.dlbd .yhm label{ border-bottom:1px solid #e6e6e6;}
.dlbd li strong{ margin-right:10px; font-weight:normal; color:#333;}
.dlbd li input{ font:15px Arial, '微软雅黑'; color:#9e9e9e; background:none; border:none;height: 30px;
  line-height: 30px;
  margin-top: 15px;}
/*lhc新加
.dlbd2 li label{ height:60px; font:15px/60px Arial, '微软雅黑'; box-sizing:border-box;}*/
/**/
.qch{ width:30px; height:30px; margin:13px 10px 0 0; float:right; background:url(/static/images/gb0.png) no-repeat center center; background-size:25px 25px;}
.dlbd li img{ margin:10px 10px 0 10px;}
.yjing{ width: 65px; height:60px; margin-right:10px; float:right; background:url(/static/images/user_off.png) no-repeat center center; background-size: auto 30px;}
.on0{ background:url(/static/images/user_on.png) no-repeat center center; background-size: auto 30px;}
.yhm input{ width:160px;}
.mma input{ width:100px;}
.zdeng{ width:40%; height:50px; margin-left:15px; float:left; font:15px/50px Arial, '微软雅黑';}
.zdeng input{ width:18px; height:18px; margin:15px 10px 0 0; float:left; color:#fd7f04; border:1px solid #9e9e9e; border-radius:0px;-webkit-appearance:none; background:none;}
.zdeng input:checked {
    position: relative;
}
.zdeng input:checked:before{border-bottom: 2px solid #c21c1c; border-left: 2px solid #c21c1c; content: "";height: 4px;left: 3px; position: absolute; top: 3px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg); width: 8px;}
.zdeng strong{ font-weight:normal; color:#9e9e9e;}
.wmi{ width:40%; margin-right:15px; float:right; text-align:right; font:15px/50px Arial, '微软雅黑'; color:#1998ec;}
.tjan{-webkit-appearance:none;
 width:100%; height: 45px; margin-bottom:15px; display:block; font:18px/45px Arial, '微软雅黑'; color:#fff; background:#e73030; border:none; border-radius:5px;}
.m015{ margin:0 15px 10px; text-align:center;}
.m015 a{ width:100%; display:block; /*font:15px/20px Arial, '微软雅黑';*/}

.zce li label{ width:100%;}
/*.zce li strong{ width:70px; margin-left:15px;}*/
.zcxy{ width:80%;}
.zcxy a{ color:#1998ec;}
.m015 .zjdl{ line-height:40px; color:#1998ec;}

.hqyma{ height:30px; padding:0 10px; margin:15px 15px 0 0; float:right; display:inline; line-height:30px; color:#9e9e9e; border:1px solid #f98e2b; border-radius:5px; box-sizing:border-box;}

.dlbd2 .yhm label{ width:300px;}
.dlbd2 .mma input{ width:145px;}

.dlbd2 li img{margin: 10px 5px 0 5px;}
.dlbd2 li{ position:relative;}
.dlbd2 li label{ float:none;  position: absolute; top: 0; left: 50px;}
.dlbd2 li .qch,.dlbd2 li .yjing{ position:relative; z-index:9;}
.dlbd2 .yhm label { border-bottom: none;}

	/* 导航 */
.ddhang{/* display:none; */width:100%;/* max-width:640px;*/ position: absolute; z-index:9999; top:60px; right:0; background:#fff; box-shadow: 0px 5px 10px #CCC; }
.ddhang li{ font:14px/40px Arial, '微软雅黑'; border-top:1px solid #e7e7e7;}
.ddhang li:after{clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:".";}
.ddhang li strong{ width:55px; padding-left:10px; float:left; display:inline; font-weight:normal;}
.ddhang li strong a{ margin-right:0; color:#e73030;}
.ddhang li .cji{display:inline;}
.ddhang li a{ margin-right:28px; display:inline-block;}
.sqi{ padding-left:25px; position:absolute; right:10px; bottom:0; font:14px/30px Arial, '微软雅黑'; background: url(../images/jtt.png) no-repeat left center;}

@media only screen and (max-width:480px) {
	.ddhang li .cji{float:left;display:inline;}
}
